/* Estilos generales */
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

/* Configuración de la barra de desplazamiento */
/* Personaliza el scrollbar */
::-webkit-scrollbar {
  width: 10px;
  /* Ajusta el ancho del scrollbar */
}

/* Cambia el color de fondo del track (la parte donde se mueve el scrollbar) */
::-webkit-scrollbar-track {
  background: transparent;
  /* Fondo blanco */
}

/* Cambia el color de la barra del scrollbar */
::-webkit-scrollbar-thumb {
  background-color: #212529;
  /* Color negro */
  border-radius: 5px;
  /* Agrega bordes redondeados */
  border: 3px solid white;
  /* Padding de lado */
}


html,
.__weatherApp {
  height: 100vh;
}

.__weatherApp header h1,
.__weatherApp footer p a {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-image: linear-gradient(45deg, #6ebb74dc, #55aef7, #ff6363);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 1px 3px 10px rgba(255, 255, 255, 0.2);
}

.__weatherApp {
  background-image: linear-gradient(45deg, #6ebb74dc, #55aef7, #eeff00);
  background-size: 500% 500%;
  animation: Gradient 15s ease-in-out infinite;
  align-items: center;
  color: #fff;
  font-family: "Alegreya Sans", sans-serif;
  text-align: center;
  min-height: 100vh;
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.__weatherApp .__weather {
  min-height: 100vh;
  z-index: 9996;
}

.__weatherApp .__weather .__container {
  backdrop-filter: blur(10px);
  background: rgb(16, 197, 198);
  background: linear-gradient(0deg, rgba(16, 197, 198, 0.2) 0%, rgba(28, 28, 154, 0.4) 100%);
  box-shadow: 2px 3px 15px 1px rgba(0, 0, 0, 0.384);
  border-radius: 1rem;
}

.__weatherApp .__weather .__city {
  letter-spacing: 0.5rem;
  margin: 0 auto;
}

.__weatherApp .__weather .__temperature {
  color: rgb(255, 255, 255, 0.8);
  letter-spacing: 0.3rem;
  font-size: 1.5rem;
}

.__weatherApp .__weather .__img-weather {
  filter: drop-shadow(0px 0px 10px rgba(83, 83, 83, 0.644));
}

.__weatherApp .__weather .__description {
  letter-spacing: .2rem;
}

.__weather .__list {
  background-color: rgb(12, 101, 231, 0.8);
  height: 100px;
}

.__weather .__list .__option-list {
  background-color: transparent;
  border: none;
  color: #212529;
  cursor: pointer;
  height: 1.1rem;
}

.__weather .__list .__option-list:hover {
  color: #ffffff;
}

/* Estilo del input */
input[type="text"] {
  background-color: transparent !important;
  caret-color: rgb(0, 0, 255);
  color: #fff;
  padding: 1rem;
}

input[type="text"]::placeholder {
  color: #d2d2d2;
  font-size: 18px;
}

input[type="text"]:focus,
input[type="text"]:not(:placeholder-shown) {
  background-color: rgba(255, 255, 255, 0.2);
  outline: none;
}

button:hover {
  background-color: #0056b3 !important;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}